* {
  margin: 0;
  padding: 0;
}

html, body, .wrapper {
  height: 100%;
}

footer {
  position: absolute;
  margin-top: -50px;
  height: 50px;
  clear: both;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.copyright {
  padding: 13px 0 0 0;
  color: #FFF;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left !important;
  }
}