/* make sidebar nav vertical */ 
@media (min-width: 768px){
  .affix-content {
    width: 700px;
  }   

.affix-content {
  margin-top: 0;
}

.affix-sidebar {
  padding-right:0; 
  font-size:small;
  padding-left: 0;
}  

.affix-row, .affix-container, .affix-content {
  height: 100%;
  overflow: scroll;
  margin-left: 0;
  margin-right: 0;    
} 

.affix-content {
  background-color:white; 
} 

.sidebar-nav {
  padding: 0;
  max-height: none;
}
  .sidebar-nav {
    border-radius:0; 
    margin-bottom:0; 
    border:0;
  }
  .sidebar-nav ul {
    float: none;
    display: block;
  }
  .sidebar-nav li {
    float: none;
    display: block;
  }
  .sidebar-nav li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }  
}

@media (min-width: 769px){
  .affix-content {
    width: 600px;
  }
    .affix-content {
    margin-top: 0;
  }  
}

@media (min-width: 992px){
  .affix-content {
  width: 900px;
  }
    .affix-content {
    margin-top: 0;
  }
}

@media (min-width: 1220px){
  .affix-row{
    overflow: hidden;
  }

  .affix-content{
    overflow: auto;
  }

  .affix-content {
    width: 1000px;
  }

  .affix-content {
    margin-top: 0;
  }
  .affix-content{
    padding-right: 30px;
    padding-left: 30px;
  }  
  .affix-title{
    border-bottom: 1px solid #ecf0f1; 
    padding-bottom:10px;
  }

  .sidebar-nav li a:hover {
    background-color: #428bca;
    color: white;
  }
  .sidebar-nav li a > .caret {
    margin-top: 8px;
  }  
}