* {
  margin: 0;
  padding: 0;
}

html, body {
  height: auto;
}

footer {
  height: 45px;
  width: 100%;
  background-color: #101010;
  bottom: 0;
  position: absolute;
}

.wrapper {
  padding-top: 40px;
  min-height: 100%;
}

.copyright {
  padding: 13px 0 0 0;
  color: #FFF;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left !important;
  }
